In [1]:
import openml
import pandas as pd

In [2]:
tasks = openml.tasks.list_tasks()
datasets = openml.datasets.list_datasets()

In [15]:
tasks_df = pd.DataFrame.from_dict(tasks, orient='index') 
tasks_df.head()

,NumberOfNumericFeatures,NumberOfSymbolicFeatures,name,task_type,source_data,NumberOfMissingValues,tid,NumberOfClasses,NumberOfFeatures,NumberOfInstances,...,target_feature,number_samples,cost_matrix,source_data_labeled,target_feature_right,target_feature_event,target_feature_left,quality_measure,target_value,time_limit
1,6,33,anneal,Supervised Classification,1,0,1,6,39,898,...,class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,33,anneal,Supervised Classification,2,22175,2,6,39,898,...,class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,37,kr-vs-kp,Supervised Classification,3,0,3,2,37,3196,...,class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,9,labor,Supervised Classification,4,326,4,2,17,57,...,class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,206,74,arrhythmia,Supervised Classification,5,408,5,16,280,452,...,class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
tasks_df[['tid', 'did', 'NumberOfMissingValues', 'MajorityClassSize', 'NumberOfSymbolicFeatures']].head()

,tid,did,NumberOfMissingValues,MajorityClassSize,NumberOfSymbolicFeatures
1,1,1,0,684,33
2,2,2,22175,684,33
3,3,3,0,1669,37
4,4,4,326,37,9
5,5,5,408,245,74

In [17]:
# Verify the datasets with the same did do, indeed, match between the tasks and datasets metadata
datasets_df = pd.DataFrame.from_dict(datasets, orient='index')
datasets_df[['did', 'NumberOfMissingValues', 'MajorityClassSize', 'NumberOfSymbolicFeatures']].head()

   did  NumberOfMissingValues  MajorityClassSize  NumberOfSymbolicFeatures
1    1                    0.0              684.0                      33.0
2    2                22175.0              684.0                      33.0
3    3                    0.0             1669.0                      37.0
4    4                  326.0               37.0                       9.0
5    5                  408.0              245.0                      74.0

In [25]:
tasks_df.columns

Index(['NumberOfNumericFeatures', 'NumberOfSymbolicFeatures', 'name',
       'task_type', 'source_data', 'NumberOfMissingValues', 'tid',
       'NumberOfClasses', 'NumberOfFeatures', 'NumberOfInstances',
       'NumberOfInstancesWithMissingValues', 'MajorityClassSize', 'status',
       'MinorityClassSize', 'ttid', 'estimation_procedure', 'did',
       'evaluation_measures', 'MaxNominalAttDistinctValues', 'target_feature',
       'number_samples', 'cost_matrix', 'source_data_labeled',
       'target_feature_right', 'target_feature_event', 'target_feature_left',
       'quality_measure', 'target_value', 'time_limit'],
      dtype='object')

In [20]:
# the number of tasks by task type
tasks_df.task_type.value_counts()

Clustering                               19497
Supervised Regression                    18664
Subgroup Discovery                        3973
Supervised Classification                 2416
Supervised Data Stream Classification      786
Learning Curve                             541
Survival Analysis                            4
Machine Learning Challenge                   2
Name: task_type, dtype: int64

In [26]:
len(tasks_df[tasks_df.task_type == 'Supervised Regression'])

18664

In [29]:
tasks_df[tasks_df.task_type == 'Supervised Regression'].did.values

array([  189,   190,   191, ..., 40462,  1577, 40505])